body{
	overflow: hidden;
}
#canvasWrap {
	position: absolute;
}
canvas {
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
#toolbox {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #aaaaaa;
	padding: .5em;
}
#toolbox > ul {
	padding-left: 0;
	margin: 0;
}
#toolbox > ul > li {
	padding: .2em .5em;
	user-select: none;
}
#toolbox > ul > li:hover {
	background-color: #888888;
	cursor: pointer;
}
#toolbox > ul > li:active {
	background-color: #444444;
}